.movies-cardlist {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.movies-cardlist__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-column-gap: 20px;
  grid-row-gap: 38px;
  justify-content: center;
  padding: 70px 70px 50px 70px;
}

@media screen and (max-width: 828px) {
  .movies-cardlist__row {
    grid-template-columns: repeat(auto-fit, 339px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 70px 30px 50px 30px;
  }
}

@media screen and (max-width: 486px) {
  .movies-cardlist__row {
    grid-template-columns: 1fr;
    grid-row-gap: 14px;
    padding: 40px 10px 50px 10px;
  }

  .movies-cardlist__bottom {
    padding: 0 14px;
  }

}