.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: text-shadow .3s;
}

.navigation__link:nth-child(2n) {
    margin-left: 16px;
}

.navigation__link_active {
    text-shadow: 0 0 .01px black;
}

.navigation__text {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-right: 13px;
}

.navigation__account {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: .3s;
}

.navigation__account:hover {
    opacity: .7;
}

@media screen and (max-width: 828px) {

    .navigation {
        justify-content: end;
    }

    .navigation__movies {
        display: none;
    }

    .navigation__account {
        display: none;
    }
}